* {
  margin: 0;
  padding: 0;
  color:white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4e4ba;
}

.container {
  background-color:rgba(0, 0, 0, 0.526);
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
  color:black;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
  color: black;
}


.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;


}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.select-con img {
  max-width: 2rem;
}

.select-con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
  color:black;
}

.select-con select {
  font-size: 1rem;
  width: auto;
  color:black;
}

.msg {
  margin: 2rem 0 2rem 0;
}

form button {
  height: 3rem;
  background-color: #3784cd;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}
.des{
  color:red;
  opacity:70%;
}
body{
  background-image: url(image.png);
  background-size: cover;
  backface-visibility: var(#3784cd);
}
.dropdown select {
    color: rgba(249, 249, 249, 0.982);
    background-color:black; /* Optional, for better contrast */
    
  }
